# DB_FILE=/backend/dbtest/db.sqlite3
# DB_TYPE=sqlite
FORBIDDEN_TABLES=["users", "authentications", "alerts", "subscriptions"]
DB_DRIVER=postgresql+
DB_HOST=localhost
DB_PORT=5432
DB_NAME=siriusgpb
DB_USER=postgres
DB_PASSWORD=postgres