# DB_FILE=/backend/dbtest/db.sqlite3
# DB_TYPE=sqlite
FORBIDDEN_TABLES=["users", "authentications"]
DB_TYPE=postgresql
DB_HOST=host.docker.internal
DB_PORT=5432
DB_NAME=postgresql
DB_USER=postgres
DB_PASSWORD=postgres