FORBIDDEN_TABLES=["users", "authentications", "alerts", "subscriptions"]
DB_DRIVER=postgresql+
DB_HOST=localhost
DB_PORT=5432
DB_NAME=siriusgpb
DB_USER=postgres
DB_PASSWORD=postgres

POSTGRES_DB=siriusgpb
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

OPENAI_API_KEY=your_deepseek_key